<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <style>

            {% include 'css.html.twig' %}
            @import url('https://fonts.googleapis.com/css?family=Cookie');
            @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
            @import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

            *{margin:0px;padding:0px;}
            html {
                height: 100%;
                width: 100%;
            }
            body{
                background-color:#eee;
                height: 100%;
                width: 100%;
                background: linear-gradient(to bottom, #0596de 0%, #ccecfa 50%);
            }
            /* Colors */
            .fbluer {
                color: #007ea7;
            }
            .fyellow {
                color: #fcff6c;
            }
            .navigation {
                background-color:#fff;
                width:100%;
                height:50px;
                box-shadow: 0px 1px 1px #c8c8c8;
                line-height:52px;
            }
            .fs-32 {
                font-size:32px;
            }
            .fs-24 {
                font-size:24px;
            }

            .fs-22 {
                font-size:22px;
            }

            .title {
                font-family:'Cookie';
                cursor: pointer;
            }
        </style>
        {% block css %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
    </body>
</html>
