<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/favicon.png" type="image/x-icon" />
        <title>{% block title %}Green Dentist{% endblock %}</title>
        <style>

            {% include 'css.html.twig' %}
            *{margin:0px;padding:0px;}
            html {
                height: 100%;
                width: 100%;
            }

            body{
                background-color:#eee;
                height: 100%;
                width: 100%;
                background-color: #98d17a;
            }

            /* Colors */
            .fbluer {
                color: #62bb49;
            }

            .title-wrapper {
                display: inline-block;
                width: 100%;
                height: auto;
                margin-top: 100px;
            }

            @media all and (max-width: 500px) {
                .title-wrapper {
                    margin-top: 70px;
                }
            }

            .navigation {
                background-color:#fff;
                width:100%;
                height:50px;
                box-shadow: 0px 1px 1px #c8c8c8;
                line-height:52px;
                position: fixed;
                top: 0;
                z-index: 9999;
                display: flex;
            }

            .fs-32 {
                font-size:32px;
            }

            .fs-24 {
                font-size:24px;
            }

            .fs-22 {
                font-size:22px;
            }

            .title {
                margin-right: auto;
                margin-left: 20px;
                font-family:'Cookie';
            }

            .title span {
                cursor: pointer;
                display: inline-block;
                width: 100%;
                text-align: center;
                height: auto;
                color: #62bb49;
            }

            .tagline {
                margin-left: auto;
                margin-right: 20px;
                font-family: sans-serif;
            }

            .fa-home {
                height: 40px;
                padding: 5px;
                margin-left: 10px;
                float: left;
                margin-right: 5px;
            }

            #navigation-title {
                float: left;
                width: auto;
            }

        </style>
        {% block css %}{% endblock %}
    </head>
    <body>
        <nav class="navigation fbluer">
            <a class="title" href="/">
               <span class="fs-32">Green Dentist</span>
            </a>
            <span class="tagline">The best green dentist for your green teeth bruh</span>
        </nav>

        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
    </body>
</html>
