* {
  margin: 0px;
  padding: 0px; }

html {
  height: 100%;
  width: 100%; }

body {
  height: 100%;
  width: 100%;
  background-color: black; }

/* Colors */
.fbluer {
  color: #62bb49; }

.title-wrapper {
  display: inline-block;
  width: 100%;
  height: auto;
  margin-top: 100px; }

@media all and (max-width: 500px) {
  .title-wrapper {
    margin-top: 40px; } }
.navigation {
  background-color: #383838;
  width: 100%;
  height: 50px;
  box-shadow: 0px 1px 1px #c8c8c8;
  line-height: 52px;
  position: fixed;
  top: 0;
  z-index: 9999;
  display: flex; }

.fs-32 {
  font-size: 25px; }

.fs-24 {
  font-size: 24px; }

.fs-22 {
  font-size: 22px; }

.fs-20 {
  font-size: 20px; }

.fs-14 {
  font-size: 14px; }

.dropdown {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 40px;
  background: darkgrey;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  color: #fff; }

/* dropdown */
.dropdown:hover {
  background: lightgrey;
  color: #fff; }

.dropdown ul {
  padding: 0;
  position: absolute;
  top: 48px;
  right: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .dropdown ul a {
    text-decoration: none; }

.dropdown ul li {
  padding: 5px 10px;
  background: darkgrey;
  display: block;
  color: #fff; }

.dropdown ul li:hover {
  background: lightgrey; }

.dropdown:hover ul {
  display: block;
  opacity: 1;
  visibility: visible; }

.title {
  margin-right: auto;
  margin-left: 20px;
  font-family: Georgia;
  box-sizing: border-box; }

.title span {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  text-align: center;
  height: 50px;
  box-sizing: border-box;
  float: left;
  color: white; }

.tagline {
  margin-left: auto;
  margin-right: 20px;
  font-family: sans-serif; }

@media all and (max-width: 500px) {
  .tagline {
    display: none; } }
.fa-home {
  height: 40px;
  padding: 5px;
  margin-left: 10px;
  float: left;
  margin-right: 5px; }

#navigation-title {
  float: left;
  width: auto; }

#home-main-header {
  margin-left: 0; }

#toggle-theme {
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  border-radius: 50%; }

#toggle-theme:hover {
  -webkit-box-shadow: 0px 0px 15px 10px white;
  -moz-box-shadow: 0px 0px 15px 10px white;
  box-shadow: 0px 0px 15px 10px white; }

@media all and (max-width: 800px) {
  #toggle-theme {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px; } }
#toggle-theme img {
  display: inline-block;
  width: 50%;
  margin: 25%; }

@media all and (max-width: 600px) {
  .mobile-hide {
    display: none; } }
body {
  height: auto !important; }

#detail {
  margin: 80px auto 0;
  padding: 2rem;
  background: #4C4C4C;
  color: white !important;
  display: flex;
  flex-direction: column;
  max-width: 480px;
  font-family: Arial, sans-serif;
  box-shadow: 2px 2px 2px gray;
  border-radius: 6px; }
  @media all and (max-width: 500px) {
    #detail {
      width: 280px; } }
  #detail .name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem; }
  #detail .name img {
    width: auto;
    height: auto;
    margin-right: 1rem; }
  #detail .item {
    display: flex;
    justify-content: center; }
  #detail .label {
    margin-right: 0.5rem;
    text-align: right; }
  #detail .value {
    margin-left: 0.5rem;
    text-align: left; }
  #detail .opened {
    text-align: center; }
  #detail .contact {
    margin-top: 1rem; }
  #detail .contact h4 {
    font-weight: 500; }
  #detail .opening-hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem; }
  #detail .opening-hours .label {
    width: 50%; }
  #detail .opening-hours .value {
    width: 50%; }
  #detail .opening-hours .opened {
    margin-bottom: 1rem; }
  #detail .opening-hours .item {
    font-size: 14px; }
  #detail .opening-hours h5 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5px; }

#home {
  /* Homepage */
  /* Search */ }
  #home .homepage .wrapper {
    padding-top: 100px; }
  #home .homepage h1 {
    margin: 0;
    font-size: 26px;
    font-family: Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    width: 100%; }
  #home .homepage h1 span {
    display: inline-block;
    width: 100%;
    font-weight: normal;
    color: white; }
  #home .homepage .title {
    font-size: 80px !important; }
  #home .homepage .subtitle {
    font-size: 18px !important; }
  #home .homepage.container {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 50px 0 0 0;
    display: inline-block;
    height: auto; }
  #home .search-box {
    display: flex;
    justify-content: center;
    height: 50px;
    transition: opacity 0.4s linear, visibility 0.4s linear 0s;
    margin-top: 50px; }
  #home .search-box #search {
    width: 50%;
    height: 50px;
    border-radius: 6px 0px 0px 6px;
    border-right: 1px solid darkgrey; }
  #home .homepage input, #home .homepage input:focus {
    border: none;
    box-shadow: none;
    background-color: transparent;
    outline: 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #bbb;
    padding: 0px 12px; }
  #home .homepage .also {
    color: #bbb;
    background-color: #fff;
    height: 50px;
    width: 50px;
    border: none;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    top: 0;
    border-radius: 0px 6px 6px 0px; }
  #home .homepage .search-link:hover {
    color: #686868; }
  #home .homepage .search-button {
    height: 30px;
    padding: 10px;
    fill: grey; }
  #home .homepage .credit {
    bottom: 20px;
    left: 0;
    right: 0;
    height: 0;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    position: fixed;
    font-size: 10px; }

* {
  margin: 0;
  padding: 0; }

#search-wrapper {
  /* Checkboxes */
  /* Select */
  /* Reset Select */
  /* Custom Select */
  /* Arrow */
  /* Transition */
  /* Advanced Search */ }
  #search-wrapper .container {
    width: 100%;
    padding: 0 10%;
    margin: auto;
    box-sizing: border-box; }
  #search-wrapper .title {
    font-family: Georgia;
    font-size: 32px;
    cursor: pointer; }
  #search-wrapper .fa-home {
    font-size: 22px; }
  #search-wrapper .search-box {
    width: 80%;
    min-width: 280px;
    max-width: 750px;
    margin: 40px auto 0 auto;
    position: relative;
    transition: opacity 0.4s linear, visibility 0.4s linear 0s;
    border-radius: 6px;
    border: none;
    background-color: #555;
    color: #fff;
    outline: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 12px; }
  #search-wrapper .search-box.results {
    width: 250px;
    min-width: 0; }
  #search-wrapper .search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px; }
  #search-wrapper .search-results .search-result-item {
    width: 45%;
    margin: 40px 0 0 0;
    box-shadow: none;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    outline: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 12px;
    border: 1px solid black;
    background-color: #333; }
  @media all and (max-width: 1000px) {
    #search-wrapper .search-results .search-result-item {
      width: 100%; } }
  #search-wrapper .search-results .search-result-item:hover {
    cursor: pointer;
    box-shadow: 0 2px 14px rgba(51, 51, 51, 0.2);
    transition: border 400ms ease-out, box-shadow 400ms ease-out;
    border: 1px solid #BBB;
    background-color: #555; }
  #search-wrapper .search-results .search-result-item .detail {
    width: 60%;
    padding: 12px; }
  #search-wrapper .search-results .search-result-item .detail ul {
    list-style: none; }
  #search-wrapper .search-results .search-result-item .detail ul .name {
    font-size: 20px;
    font-weight: 600;
    color: #fff; }
  #search-wrapper .search-results .search-result-item .detail ul .address {
    margin-top: 10px;
    font-size: 14px; }
  #search-wrapper .search-results .search-result-item .detail ul .city {
    margin-top: 3px;
    font-size: 15px;
    text-transform: uppercase; }
  #search-wrapper .search-results .search-result-item .detail ul .phone {
    font-size: 14px;
    margin-top: 10px; }
  #search-wrapper .search-results .search-result-item .right {
    width: 30%;
    padding: 12px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; }
  #search-wrapper #search-wrapper {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 50px 0 0 0;
    display: inline-block;
    height: auto; }
  #search-wrapper .cb {
    opacity: 0;
    position: absolute; }
  #search-wrapper .cb, #search-wrapper .cb-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer; }
  #search-wrapper .cb-label {
    position: relative; }
  #search-wrapper .cb + .cb-label:before {
    content: '';
    background: #fff;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    padding: 2px;
    margin-right: 5px;
    text-align: center; }
  #search-wrapper .cb:checked + .cb-label:before {
    background: black;
    box-shadow: inset 0px 0px 0px 2px #fff; }
  #search-wrapper .cb-label {
    font-size: 14px; }
  #search-wrapper .cb:focus + .cb-label, #search-wrapper .radio-custom:focus + .radio-custom-label {
    outline: 1px solid #ddd;
    /* focus style */ }
  #search-wrapper h1 {
    text-align: center; }
  #search-wrapper select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: black;
    background-image: none; }
  #search-wrapper .select {
    position: relative;
    display: block;
    height: 30px;
    background: black;
    overflow: hidden;
    border-radius: 3px;
    margin-top: 5px;
    color: white !important; }
  #search-wrapper select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color: #fff;
    cursor: pointer; }
  #search-wrapper select::-ms-expand {
    display: none; }
  #search-wrapper .select::after {
    content: '\25BC';
    position: absolute;
    top: 7px;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: black;
    pointer-events: none;
    font-size: 10px; }
  #search-wrapper .select:hover::after {
    color: white; }
  #search-wrapper .select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease; }
  #search-wrapper .dispo div {
    display: inline-block; }
  #search-wrapper .container.search-box hr {
    margin: 10px; }
  #search-wrapper .advanced-submit {
    color: #fff;
    width: 245px;
    background-color: #bbb;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    padding: 10px 30px; }
  #search-wrapper .advanced-submit:hover {
    background: black; }
  #search-wrapper .filters-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px; }
  #search-wrapper .filters-wrapper > div {
    width: 40%;
    min-width: 244px;
    padding: 0; }
  @media all and (max-width: 700px) {
    #search-wrapper .filters-wrapper > div {
      width: 70%;
      margin-top: 10px; } }
  #search-wrapper .specialization .select {
    height: 30px; }
  #search-wrapper .specialization .select select {
    height: 30px;
    padding: 0 10px;
    line-height: 30px; }
  #search-wrapper .opening {
    width: 40%; }
  #search-wrapper .search input {
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid darkgrey; }
  #search-wrapper .search input, #search-wrapper .search input:focus {
    display: block;
    box-shadow: none;
    background-color: transparent;
    outline: 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #bbb;
    padding: 0px 12px; }
  #search-wrapper .search {
    height: 30px;
    margin-top: 5px;
    width: 100%; }
  #search-wrapper .pagination {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  #search-wrapper .pagination .pages {
    display: flex;
    justify-content: center;
    border-radius: 6px;
    text-decoration: none;
    border: none;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif; }
  #search-wrapper .pagination .pages:hover {
    box-shadow: 2px 2px 2px gray; }
  #search-wrapper .pagination .pages a {
    color: #555;
    float: left;
    padding: 8px 16px;
    text-decoration: none; }
  #search-wrapper .pagination .pages a.disabled {
    cursor: default; }
  #search-wrapper .pagination .pages a:first-of-type {
    border-radius: 6px 0 0 6px; }
  #search-wrapper .pagination .pages a:last-of-type {
    border-radius: 0 6px 6px 0; }
  #search-wrapper .pagination .pages a.active {
    background-color: #323232;
    color: white; }
  #search-wrapper .pagination .pages a:hover:not(.disabled) {
    background-color: #ddd; }

/*# sourceMappingURL=dark.css.map */
