{% extends '::base.html.twig' %}

{% block body %}
    <nav class="navigation fbluer">
       <span class="title fs-32">
       <i class="fa fs-22"></i> Green Dentist
      </span>
    </nav>
    <div class="homepage container">
        <div class="fyellow">
            <h1>Do you need a dentist ? Try Green Dentist !</h1>
            <h4>It's simple and free.</h4>
        </div>
        <form action='{{ url('gc_main_search') }}' class="search-box" id="SBox">
            <input id="search" name="q" placeholder="Search..." type="text" required>
            <select id="select" class="search minimal">
                <option value="firstname">Firstname</option>
                <option value="name">Name</option>
                <option value="address">Address</option>
                <option value="speciality">Speciality</option>
                <option value="hour">Opening Hour</option>
                <option value="photo">Photo</option>
            </select>
            <button type="submit" class="also search-link" id="searchclick"><i class="fa fa-search"></i></button>
        </form>
    </div>
{% endblock %}
